<div class="col-sm-auto bg-sidebar sticky-top pe-0">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-sidebar sticky-top pe-0">
        <a href="/" class="fw-bold text-decoration-none h5 py-3 d-flex bg-sidebar-header text-white px-3">Appointment
            System </a>
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto">

            <!-- schedule clients-->
            <li >
                <a href="/" class="nav-link py-3 px-3 text-white sidebar-link" title="Schedule Clients"
                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Schedule clients">
                    <i class="bi bi-calendar-fill me-2"></i>
                    Schedule clients
                </a>
            </li>
            <!-- end of schedule clients -->

            <!-- new clients-->
            <li>
                <a href="/new-client" class="nav-link py-3 px-3 text-white sidebar-link" title="New client"
                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="New client">
                    <i class="bi bi-person-plus-fill me-2"></i>
                    New client
                </a>
            </li>
            <!-- end of new clients -->

            <!-- manage clients-->
            <li>
                <a href="/manage-clients" class="nav-link py-3 px-3 text-white sidebar-link" title="Manage client"
                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Manage clients">
                    <i class="bi bi-people-fill me-2"></i>
                    Manage clients
                </a>
            </li>
            <!-- end of manage clients -->

            <!-- logout-->
            <li>
                <a href="#" class="nav-link py-3 px-3 text-white sidebar-link" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Logout">
                    <i class="bi bi-gear-wide-connected me-2"></i>
                    Logout
                </a>
            </li>
            <!-- end of logout -->
        </ul>
    </div>
</div>