<%- include('components/head') %>

    <!-- sidebar-->
    <div class="row">
        <%- include('components/sidebar') %>
            <div class="col-sm px-3 min-vh-100 bg-light">
                <header class="border-bottom" style='padding-bottom: 3.4rem'>
                    <p class="fw-bold float-end text-muted p-3">Welcome, Admin</p>
                </header>

                <!-- content -->
                <div class="container-fluid">
                    <h3 class="mt-3 mb-3 fw-bold ">New Developer</h3>
                    <div class="container bg-white">
                        <form action="/new-developer" enctype="multipart/form-data" method="POST"
                            class="g-3 needs-validation ps-3 py-3" novalidate>
                            <div class="row mb-4">
                                <div class="col-md-4 ">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="position" class="form-label">Position</label>
                                    <input type="text" class="form-control" id="position" name="position" required>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <label for="profile_image" class="form-label">Profile Image</label>
                                    <input type="file" class="form-control" id="profile_image" name="img_src"
                                        accept='image/*' required>
                                </div>
                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <label for="home_phone" class="form-label">Home Phone</label>
                                    <input type="number" class="form-control" id="home_phone" name="home_phone"
                                        required />
                                </div>
                                <div class="col-md-4">
                                    <label for="mobile_phone" class="form-label">Mobile Phone</label>
                                    <input type="number" class="form-control" id="mobile_phone" name="mobile_phone"
                                        required>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary" type="submit" value="Upload">Add New Developer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    <!-- end of sidebar-->

    <!-- scrips-->
    <%- include('components/cdn_scripts') %>

        </body>

        </html>