<%- include('components/head') %>
    
    <!-- sidebar-->
    <div class="row">
            <div class="col-12 col-lg-auto bg-sidebar sticky-top pe-0">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-sidebar sticky-top pe-0">
                    <a href="/" class="fw-bold text-decoration-none h5 py-3 d-flex bg-sidebar-header text-white px-3">Appointment
                        System </a>
                    <ul class="nav nav-pills nav-flush flex-lg-column flex-row flex-nowrap mb-auto">
                        <li>
                            <a href="/login" class="nav-link py-3 px-3 text-white sidebar-link" title="login"
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="login">
                                <i class="bi bi-shield-lock-fill me-2"></i>
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="/new-client" class="nav-link py-3 px-3 text-white sidebar-link" title="New client"
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="New client">
                                <i class="bi bi-person-plus-fill me-2"></i>
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        <div class="col-sm px-3 min-vh-100 bg-light">
            <header class="border-bottom" style='padding-bottom: 3.4rem'>
                <p class="fw-bold float-end text-muted p-3">Welcome, Guest</p>
            </header>

            <!-- content -->    
            <div class="container-fluid">
                <h3 class="mt-3 mb-5 fw-bold ">Register</h3>
                <div class="container bg-white">
                    <form action="/new-client" method="POST" class="row g-3 needs-validation pb-3" novalidate>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your name!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="birthday" class="form-label">Birth Date</label>
                            <input type="date" class="form-control" id="birthday" name="birthdate" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your birthdate!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" name="gender" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Other's</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a gender!
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your address!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your password!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="province" class="form-label">Province</label>
                            <input type="text" class="form-control" id="province" name="province" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your province!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your city!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="zip_code" class="form-label">Zip Code</label>
                            <input type="number" class="form-control" id="zip_code" name="zip_code" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your zip code!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter a valid email!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="home_phone" class="form-label">Home Phone</label>
                            <input type="number" class="form-control" id="home_phone" name="home_phone" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your home number!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="mobile_phone" class="form-label">Mobile Phone</label>
                            <input type="number" class="form-control" id="mobile_phone" name="mobile_phone" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Enter your mobile number!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="occupation" class="form-label">Occupation</label>
                            <input type="text" class="form-control" id="occupation" name="occupation" >
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="current_employment" class="form-label">Current Employment</label>
                            <select class="form-select" id="current_employment" name="current_employment" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="Full-Time">Full Time</option>
                                <option value="Part-Time">Part Time</option>
                                <option value="Unemployed">Unemployed</option>
                                <option value="Retired">Retired</option>
                                <option value="Disabled">Disabled</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a gender!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="occupation" class="form-label">Referred By</label>
                            <input type="text" class="form-control" id="referred_by" name="referred_by">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end of sidebar-->

    <!-- scrips-->
    <%- include('components/cdn_scripts') %>
   
</body>

</html>