
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.bg-sidebar-header {
    background-color: #074E79;
}

.bg-sidebar {
    background-color: #0775A0;
}

a {
    color: #074E79;
    font-weight: bold;
}

.btn-primary {
    background-color: #074E79;    
}

.sidebar-link:hover {
    background-color: #074E79;
    font-weight: 900;
}

